#root {
  text-align: center;
}

.titleContainer {
  padding: 10pt;
  background-color: white;
  display: flex;
  /* justify-content: center; */
  color: black;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}

.logoContainer {
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 20pt;
  font-weight: 400;
}

.timerContainer {
  flex: 5;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  font-size: 20pt;
}

.dataContainer {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 50px;
  color: black;
}

.container1 {
  display: flex;
  /* height: auto; */
}

.graphVelocity {
  flex: 5;
}

.graphTemperature {
  flex: 2;
}

.container2 {
  display: flex;
}

.graphAltitude {
  flex: 5;
}

.buttonContainer {
  flex: 2;
}